

<h2  style="border : 2px solid black; background-color: grey; text-align: center;">Historiques votes</h2>


<div *ngFor="let votes of listeVotes; let i = index"
  style="border : 2px solid black; text-align: center;">
<div [hidden]="votes.supprimer">
<img [src]="votes.collegue.photoUrl" width=15%>
<div [ngSwitch]="votes.avis">
{{votes.collegue.pseudo}} est
  <p *ngSwitchCase=avis.AIMER>aimé</p>
  <p *ngSwitchCase="avis.DETESTER">detesté</p>
elle a desormais un score de {{votes.collegue.score}}
<p><button type="button" class="btn btn-secondary" (click)="Supprimer(i)">Supprimer</button></p>
</div>
</div>
</div>
